<body>
  <div class="container">
    <h1>Utilisateurs :</h1>
    <button class="btn btn-primary" style="margin: 5px !important;" routerLink="/admin/posts">Liste des offres et besoins >></button>
    <button class="btn btn-primary" style="margin: 5px !important;" routerLink="/admin/reclamations">Réclamations >></button>
    <table class="table table-bordered text-light bg-dark" style="border-radius: 7px;">
      <thead>
      <tr>
        <th>Date de création</th>
        <th>Date de modification</th>
        <th>Avatar</th>
       <!-- <th>Rôle</th> -->
        <th>ID</th>
        <th>Prénom </th>
        <th>Nom</th>
        <th>Nom d'utilisateur</th>
        <th>Email</th>
        
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let a of artisan$ | async">
        <td><span>{{a.dateCreated | date: 'dd/MM/yyyy HH:mm:ss'}}</span></td>
        <td><span>{{a.lastModified | date: 'dd/MM/yyyy HH:mm:ss'}}</span></td>
        <td><span><img [src]="a.profileImage" alt="Aucune avatar"
          class="img-fluid" style="width: 45px; height: 45px;"></span></td>
         <!-- <td><span>x</span></td> -->
        <td><span>{{a.id}}</span></td>
        <td><span>{{a.prenom}}</span></td>
        <td><span>{{a.nom}}</span></td>
        <td><span>{{a.userName}}</span></td>
        <td><span>{{a.email}}</span></td>
        
        <td>
          
          <button id="edit" class="btn btn-sm" style="background-color: #1c498d; color: white;" (click)="Activation(a)">
            <i class="fa fa-edit"></i> Edit</button>
          <button class="btn btn-sm btn-danger" (click)="deleteUser(a.id)">
            <i class="fa fa-remove"></i> Delete</button>
        </td>
      </tr>
      </tbody>
      
    </table>
 <!--  <app-admin-edit *ngIf="showComponent"></app-admin-edit>--> 
  </div>


<div class="edit">
<div class="edit-container" *ngIf="showComponent"> 
  <p class="title">Éditer :</p>
  <p class="welcome-message"> Veuillez fournir les données nécessaires pour éditer l'utilsateur </p>
  <form class="register-form">
    <label>Nom :</label>
    <div class="form-control">
      <input type="text" name="nom" placeholder="Nom" [(ngModel)]="selectedUser.nom" required>      
    </div>
    <label>Prénom :</label>
    <div class="form-control">
      <input type="text" name="prenom" placeholder="Prénom"  [(ngModel)]="selectedUser.prenom" required>      
    </div>
    <label>Nom d'utilisateur :</label>
    <div class="form-control">
      <input type="text" name="userName" placeholder="Nom d'utilisateur"  [(ngModel)]="selectedUser.userName" required>      
    </div>
    <label>Prénom :</label>
    <div class="form-control">
      <input type="email" name="email" placeholder="Email"  [(ngModel)]="selectedUser.email"equired>      
    </div>


       <!-- <div class="form-control">
            <input type="password" name="confirmpassword" placeholder="Confirmer mot de passe" formControlName="confirmpassword" required>
    </div>-->
    <!--<select id="role" class="drop" required>
      <option class="drop"> artisan</option>
      <option class="drop"> client</option>
    </select> -->
    <button class="submit" (click)="onUpdateUser(selectedUser)" >Éditer</button>
  </form>
</div>
</div>
<app-back2-top></app-back2-top>
</body>