body {   
    overflow-x: hidden;
    z-index: -50;
    font-size: 14px; 
    color: #1c498d;
       background:
       url("src/assets/images/v116_215.png");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;   
    overflow:auto;
     
 }

 h1 {
  margin-top: 120px;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  text-shadow:
     3px 3px 0 #fff,
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
  font-weight: 900;
  font-family: fantasy !important;
}
/*
 .col-lg-8.mx-auto{
    display: grid;
     align-content: center;
   margin-top: 100px;
   
 }
 .card{
    height:600px;
    color: white
 }
 p{
    color: white !important;
 }
.text-muted.mb-0 {

}*/
.container{
  width: 150vh;
   align-content: center;
 margin-top: 130px;
 margin-left: 250px;
 margin-bottom: 150px;
}
.border{
padding: 10px;
}

.btn {
margin-right: 10px;
}



.edit{
   font-family: 'Open Sans', sans-serif;
   
   width: 450px;
   font-size: 14px; 
   color: #ffffff;
   display:flex;
   justify-content: center;
   align-items: center;
   margin: 150px;
   margin-left: 550px;
    
 }
 




input[type="text"],
  input[type="password"],
  input[type="email"],
  .submit {
    width: 100%;
    padding: 10px 24px;
    background: #ffffff;
    color: #696969;
    border: none;
    outline: none;
    font-size: 0.9em;
  }

  .edit-container {
   max-width: 450px;
   background-color: #212529;
   padding: 24px;
   padding-bottom: 12px;
   border-radius: 0px;
   box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25), 
   0 17px 50px 0 rgba(0, 0, 0, 0.19);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
 }

 .btn.btn-primary {
  margin-bottom: 15px;
 }

 .title {
   text-transform: uppercase;
   font-size: 1.2em;
   font-weight: bold;
   letter-spacing: 1px;
   padding: 4px 0;
   border-bottom: 2px solid #2e44c2;
   margin-bottom: 20px;
 }
 
 .welcome-message {
   text-align: center;
   font-size: 0.9em;
   margin-bottom: 20px;
   color: #ffffff;
   line-height: 18px;
 }

 .form-control {
   width: 100%;
   position:static;
   margin-bottom: 20px;
 }
 
 
 
 .form-control input {
   padding-left: 36px;
   letter-spacing: 0.5px;
   font-size: 1em;
 }
 
 .form-control input:focus~i {
   color: #0a25c0;
 }
 
 .form-control input:focus {
   animation: shadow 0.5s;
 }
 
 @keyframes shadow {
   0%, 100% {
       box-shadow: none;
   }
   50% {
       box-shadow: 0 0 20px 0 rgba(197, 22, 216, 0.2);
   }
 }


 button.submit {
   text-transform: uppercase;
   letter-spacing: 1px;
   margin: 32px auto;
   cursor: pointer;
   color: #fff;
   border-radius: 4px;
   background-image: linear-gradient(to right, #1c498d, #df1818, #1c498d );
   background-size: 300% 100%;    
   transition: background-position 0.4s;
 }
 
 button.submit:hover {
   background-position: 100% 0;
 }

 .additional-action p {
   margin: auto;
   color: #696969b0;
   font-size: 0.9em;
   cursor: pointer;
   transition: color 0.3s;
 }
 
 .additional-action p:hover {
   color: #e60505;
 }
 
 h2  {
   color: #131312;
   width: 20%;
   display: block;
   font-style: italic;
 }