*{
    color: rgb(168, 168, 168);
    z-index: 5;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 9%;
    transition:height 1s;
}
footer:hover {
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 50%;
}
.fa-twitter:hover{
    color:#1d9bf0;
}
.fa-facebook:hover{
    color:#1e4190;
}
.fa-google:hover{
    color:#de4032;
}
.fa-instagram:hover{
    color:#6cd851;
}
.fa-linkedin:hover{
    color:#ffffff;
}
.fa-github:hover{
    color:#000000;
}