<body>
    <div class="contact-container"> 
      <p class="title">Postuler une anonnce :</p>
      <form [formGroup]="userPost" (ngSubmit)="onSubmit()">
       <div class="form-group" *ngIf="!userRoles.includes('Artisan')">
            <label for="role">Type d'annonce :</label>
            <select formControlName="type" id="annonce" required> 
                <option disabled style="color: red;">Offre : Reservé aux artisans</option>
                <option >Besoin</option>
            </select>
            </div>
            <div class="form-group" *ngIf="userRoles.includes('Artisan')">
              <label for="role">Type d'annonce :</label>
              <select formControlName="type" id="annonce" required> 
                  <option >Offre</option>
                  <option disabled style="color: red;">Besoin : Reservé aux clients</option>
              </select>
              </div>
            
            
        <div class="form-group">
            <label for="">Ville :</label><br>
            <select name=ville formControlName="ville">
                <option value="Agadir">Agadir</option>
                <option value="Al Hoceima">Al Hoceima</option>
                <option value="Azilal">Azilal</option>
                <option value="Beni Mellal">Beni Mellal</option>
                <option value="Ben Slimane">Ben Slimane</option>
                <option value="Boulemane">Boulemane</option>
                <option value="Casablanca">Casablanca</option>
                <option value="Chaouen">Chaouen</option>
                <option value="El Jadida">El Jadida</option>
                <option value="El Kelaa des Sraghna">El Kelaa des Sraghna</option>
                <option value="Er Rachidia">Er Rachidia</option>
                <option value="Essaouira">Essaouira</option>
                <option value="Fes">Fes</option>
                <option value="Figuig">Figuig</option>
                <option value="Guelmim">Guelmim</option>
                <option value="Ifrane">Ifrane</option>
                <option value="Kenitra">Kenitra</option>
                <option value="Khemisset">Khemisset</option>
                <option value="Khenifra">Khenifra</option>
                <option value="Khouribga">Khouribga</option>
                <option value="Laayoune">Laayoune</option>
                <option value="Larache">Larache</option>
                <option value="Marrakech">Marrakech</option>
                <option value="Meknes">Meknes</option>
                <option value="Nador">Nador</option>
                <option value="Ouarzazate">Ouarzazate</option>
                <option value="Oujda">Oujda</option>
                <option value="Rabat-Sale">Rabat-Sale</option>
                <option value="Safi">Safi</option>
                <option value="Settat">Settat</option>
                <option value="Sidi Kacem">Sidi Kacem</option>
                <option value="Tangier">Tangier</option>
                <option value="Tan-Tan">Tan-Tan</option>
                <option value="Taounate">Taounate</option>
                <option value="Taroudannt">Taroudannt</option>
                <option value="Tata">Tata</option>
                <option value="Taza">Taza</option>
                <option value="Tetouan">Tetouan</option>
                <option value="Tiznit">Tiznit</option>
                </select>
          </div>
          <div class="form-group">
            <label for="">Nom d'utilisateur :</label>
            <input  type="text" name="userName" formControlName="artisan" placeholder="Nom d'utilisateur" 
            [(ngModel)]="profil.userName" required readonly class="input"> 
        </div>      
    <div class="form-group">
        <label for="">Titre d'annonce :</label>
      <input type="text" name="titre" formControlName="titreAnnonce" placeholder="Titre d'annonce"  required>
    </div>
          <div class="form-group">
            <label for="">Prix : </label><br>
            <input type="number" placeholder="Prix en DH" name="prix" formControlName="prix"  required>
          </div>
          <div>
          <label for=""> Description de l'annonce</label>
          <br>
            <textarea id="subject" name="subject" placeholder="Votre message" style="height:100px;" formControlName="description"></textarea>
        </div>
        <div>
            <label for="">Lien de la photo descriptive</label>
            <br>
              <input type="text" placeholder="Image link" id="imgUrl" name="imgUrl"   formControlName="imgUrl">
          </div>
        <div class="action-buttons">
            <button  class="submit" type="submit" id="button"  >Ajouter</button>
        </div>
        
      </form>
    </div>
    </body>