<head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>


<body>

    <div class="container">
        <h5 class="section-title h1"><b>Les besoins disponibles :</b></h5>
        <div class="row">
            <!-- Les besoins dispo -->
                    <!-- Les offres dispo -->
                    <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let b of post$ |async">
                        <div class="image-flip" >
                            <div class="mainflip flip-0">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center" >
                                            <p><img class=" img-fluid" [src]="b.imgUrl" alt="image ici"></p>
                                            <h4 class="card-title">{{b.titreAnnonce}}</h4>
                                            <p class="card-text">{{b.ville}}</p>
                                            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">{{b.artisan}}</h4>
                                            <p class="card-text">{{b.description}}</p>
                                            <h4 class="card-text">{{b.prix}} DH</h4>
                                        </div>
                                        <div class="btn btn-primary">Contactez</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
                    
</body>







































<!--<form action="" class="myform">
   
    <input type="text" name="nom" id="nom" placeholder="Ville" >
 
    <input type="text" name="prenom" id="prenom" placeholder="Artisant ">
    <button type="submit">Rechercher</button>
  </form>  
 
  <h5>Critére de Rechercher</h5>
   <div class="container">
   <app-offre *ngFor=" let b of besoin$ | async "  [service]="b" > </app-offre>
    </div>

  -->