body{
  z-index: -50;
     background:
     url("src/assets/images/v116_215.png");
     background-repeat:no-repeat;
   height: 1000px;
   background-size: cover; 
   background-position: center center;
   background-repeat: no-repeat;
   text-align:center;
   margin:auto;
   padding:0;
   overflow:-moz-hidden-unscrollable;
   min-height: 100vh;
   overflow-x: hidden;
 }


.row {
  
  z-index: 0;
  box-sizing: border-box;
  position:relative;
  transform: translate(0%, 60%);
  
}

.card.mb-4{
  color: white;
}
p{
  
  color: white !important;
}

.rounded-circle:hover{
  .brighter-span {
    filter: brightness(150%);
  }
}
