body{
  z-index: -50;
     background:
     url("src/assets/images/v116_215.png");
     background-repeat:no-repeat;
   height: 100vh;
   background-size: cover; 
   background-position: center center;
   background-repeat: no-repeat;
   text-align:center;
   margin:auto;
   padding:0;
   overflow:-moz-hidden-unscrollable;
   overflow-x: hidden;
 }
img:hover{
  opacity: 0.5;
  cursor: pointer;
}

.row {
  z-index: 0;
  box-sizing: border-box;
  position:relative;
  margin-left: 100px !important;
  
}

.card.mb-4{
  color: white;
}
p{
  
  color: white !important;
}

.rounded-circle:hover{
  .brighter-span {
    filter: brightness(150%);
  }
}


.col-lg-8 {
  margin-top: 100px !important;
  width: 900px;
}
.col-lg-4 {
  margin-top: 100px !important;
}
.btn.btn-success {
  margin-left: 550px;
  width: 100px;
}