<body>
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4 bg-dark">
          <div class="card-body text-center ">
            <img src="https://static.vecteezy.com/system/resources/previews/005/544/718/original/profile-icon-design-free-vector.jpg" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">Anas Zahou</h5>
            <p class="text-muted mb-1">Jardinier</p>
            <p class="text-muted mb-4">Morocco 🇲🇦</p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary">Éditer mon profil</button>
              <button type="button" class="btn btn-outline-primary ms-1" routerLink="post">Postuler une annonce</button>
            </div>
          </div>
        </div>
       
      </div>
      <div class="col-lg-8" >
        <div class="card mb-4 bg-dark">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Prénom</p>
              </div>
              <div class="col-sm-9" >
                <p class="text-muted mb-0" style="z-index: -1;">Anas</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nom </p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Zahou</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">example@example.com</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Téléphone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">06 66 66 66 66</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Adresse</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Morocco 🇲🇦</p>
              </div>             
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Rôle</p>
              </div>
              <div class="col-sm-9">
                <select formControlName="roleName" id="role" style="width: 80px;">

                  <option>Artisan</option>
                  <option>Client</option>
                </select>
              </div>             
            </div>
          </div>
        </div>
      </div>
    </div>
</body>






<!-- <h2>
  Données personnelles</h2>
<div class="vertical">
  <div class="form-card1">

    <ul class="grid-2 alpha omega" id="menu-list">
      <li routerLink=""><a href="#">Mon profil</a></li>
      <li><a>Mes offres</a></li>
      <li><a>Notification</a></li>
      <li><a> Données personnelles</a></li>
      <li><a routerLink="post"> lancer une offres ou un besoin </a></li>

    </ul>

  </div>


  <div class="form-card2">


    <h2>Données personnelles</h2>
    <h5>Voir et mettre à jour vos informations ici. Gérez vos identifiants et mots de passe ici. </h5>

    <div class="vertical">
      <form [formGroup]="profilForm">
        <div class="col">
          <input type="text" class="form-control" placeholder="username" formControlName="userName">



        <label for="role"></label>
        <select formControlName="roleName" id="role">

          <option> artisant </option>
          <option>client</option>
        </select>
        </div>

        <button type="submit" (click)="onAddRole()">Enregistrer</button>

      </form >-->
        <!-- <div class="row">
                          <div class="col">
                            <input type="text" class="form-control" placeholder="nom">
                          </div>
                          <div class="col">
                            <input type="text" class="form-control" placeholder="prenom">
                          </div><br><br>
                        </div> <div class="row">
                          <div class="col">
                            <input type="text" class="form-control" placeholder="ville">
                          </div>
                          <div class="col">
                            <input type="tel" class="form-control" placeholder="tel">
                          </div><br> <br>
                          
                        </div> <div class="row">
                          <div class="col">
                            <input type="email" class="form-control" placeholder="Email">
                          </div>
                          <div class="col">
                            <input type="password" class="form-control" placeholder="Mot de passe">
                          </div>
                          
                        </div> <br> -->
        

<!--
                      
   </div>

  </div>
-->
