@import "../node_modules/alertifyjs/build/css/alertify.css";
@import "../node_modules/alertifyjs/build/css/themes/bootstrap.min.css";
@import "../node_modules/alertifyjs//build/css/themes/default.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*.header{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background:#212529 ;
}
.header bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("assets/images/v116_215.png");
}
*/